= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :category
    = f.text_field :category
  .field
    = f.label :rails_version
    = f.text_field :rails_version
  .field
    = f.label :key
    = f.text_field :key
  .field
    = f.label :github_link
    = f.text_field :github_link
  .field
    = f.label :author_name
    = f.text_field :author_name
  .field
    = f.label :piblished_at
    = f.datetime_field :piblished_at
  .actions
    = f.submit 'Save'
