%aside#logo-sidebar.fixed.top-0.left-0.w-64.h-screen.bg-white.border-r.border-gray-200.dark:bg-gray-800.dark:border-gray-700
	- if @article.present?
		= hidden_field :parent_category_ids, @article.category.get_parent_categories(@article.category.try(:id), []), {value: @article.category.get_parent_categories(@article.category.try(:id), []), id: 'sidebar-active-article'}
	.px-1.pb-4.bg-white.dark:bg-gray-800
		%a.flex.items-center.grow.py-8{:href => "https://railsmojo.org/"}
			= image_tag 'railsmojo-logo.png', class: "h-6 mr-3 sm:h-9", id: "light-logo"
			= image_tag 'railsmojo-logo-dark.png', class: "h-6 mr-3 sm:h-9", id: "dark-logo"

	= link_to "Get Started", get_started_articles_path, class: "flex.items-center w-full p-1 text-xs font-normal text-gray-900 transition duration-75 rounded-lg group dark:text-white"
	- Category.where(parent_category_id: nil).each do |category|
		%button.flex.items-center.w-full.p-1.text-xs.font-normal.text-gray-900.transition.duration-75.rounded-lg.group.dark:text-white{"aria-controls" => "dropdown-category-#{category.try(:id)}", "data-collapse-toggle" => "dropdown-category-#{category.try(:id)}", type: "button"}
			%svg.w-5.h-5{fill: "currentColor", "sidebar-toggle-item" => "", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
				%path{"clip-rule" => "evenodd", d: "M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
			%span.flex-1.ml-3.text-left.whitespace-nowrap{"sidebar-toggle-item" => ""}= category.try(:name)
		%ul.hidden.ml-4.border-l.border-gray-200.dark:border-gray-700{id: "dropdown-category-#{category.try(:id)}"}
			= category.get_sub_categories(category.categories, category.articles).html_safe
	= link_to "What Next", what_next_articles_path, class: "flex.items-center w-full p-1 text-xs font-normal text-gray-900 transition duration-75 rounded-lg group dark:text-white"