%h1 Listing articles

%table
  %thead
    %tr
      %th Category
      %th Rails version
      %th Key
      %th Github link
      %th Author name
      %th Piblished at
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.category
        %td= article.rails_version
        %td= article.key
        %td= article.github_link
        %td= article.author_name
        %td= article.piblished_at
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Article', new_article_path
