%section
	.grid.grid-cols-12.gap-4
		.col-span-6.pt-4
			.card.flex.flex-col.items-center.justify-center.py-10
				=image_tag "rails-logo.png", class: 'w-24 py-8'
				%h1.text-6xl.font-bold.py-2 Rails 7
				%p.text-gray-700.text-sm.dark:text-gray-400.max-w-sm.text-center
					The latest and greatest release of Ruby on Rails
				%p.mt-8.py-4.text-gray-500.dark:text-gray-400.max-w-sm.text-center
					It packs some amazing new tech like: Hotwire, Turbo, Stimulus, importmap and more.
				%a.btn-rounded.my-16.text-base.flex.hover:bg-primary-600.hover:text-white.dark:hover:bg-primary-600.dark:hover:text-white{:href => "#"}
					Get Started
					%svg.ml-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
						%path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
			

		.col-span-6.space-y-4
			- @categories.each do |category|
				= link_to articles_path(category_id: category.id), data: {turbo: true, "turbo_frame": "articles"} do
					.card.px-4.py-2
						.flex.flex-col.items-start
							.flex.items-start.justify-start
								%svg.h-9.w-9.mr-4.fill-gray-600.dark:fill-gray-400{:viewbox => "0 01 50 50", :xmlns => "http://www.w3.org/2000/svg"}
									%path{"clip-rule" => "evenodd", :d => "M6.6 25.5V37 11v14.5ZM27.55 43q1 0 1.725-.75.725-.75.725-1.8 0-1-.725-1.725Q28.55 38 27.5 38q-1 0-1.75.725T25 40.5q0 1 .75 1.75t1.8.75Zm13-21q1 0 1.725-.75.725-.75.725-1.8 0-1-.725-1.725Q41.55 17 40.5 17q-1 0-1.75.725T38 19.5q0 1 .75 1.75t1.8.75ZM12 21h10v-3H12Zm0 9h10v-3H12ZM6.6 40q-1.2 0-2.1-.9-.9-.9-.9-2.1V11q0-1.2.9-2.1.9-.9 2.1-.9h34.8q1.2 0 2.1.9.9.9.9 2.1H6.6v26H19v3Zm20.9 6q-2.3 0-3.9-1.6T22 40.5q0-1.9 1.125-3.35Q24.25 35.7 26 35.2v-6.7h13v-3.7q-1.75-.5-2.875-1.95T35 19.5q0-2.3 1.6-3.9t3.9-1.6q2.3 0 3.9 1.6t1.6 3.9q0 1.9-1.125 3.35Q43.75 24.3 42 24.8v6.7H29v3.7q1.75.5 2.875 1.95T33 40.5q0 2.3-1.6 3.9T27.5 46Z"}
								%div
									%h3.text-2xl.font-semibold.text-gray-600.dark:text-white 
										%span.text-emerald-500	
											How-to 
										Guides
										%span.mb-2.text-base.font-medium.text-gray-500.dark:text-gray-400 
											for
											%span.font-bold= category.try(:name)                 

									%p.py-3.text-gray-500.text-sm.dark:text-gray-400{class: "w-4/5"}= category.try(:description)
									= link_to articles_path(category_id: category.id) do
										.mt-2.text-xs.text-gray-500.uppercase.flex.items-center.hover:text-rose-500
											= "#{category.articles.count} articles"
											%svg.ml-2.-mr-1.w-4.h-4{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
												%path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}                
