.container.mx-auto.mt-28.px-5.flex.flex-col
  = render "home_hero"
  = render "home_learning_categories"
  = render "home_why_rails"
  = render "home_rails_in_2023"
= render "home_mission"
.container.mx-auto.mt-28.px-5.flex.flex-col
  = render "home_our_activities"
