%h1 Listing rails_versions

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Is default
      %th Is active
      %th
      %th
      %th

  %tbody
    - @rails_versions.each do |rails_version|
      %tr
        %td= rails_version.name
        %td= rails_version.slug
        %td= rails_version.is_default
        %td= rails_version.is_active
        %td= link_to 'Show', rails_version
        %td= link_to 'Edit', edit_rails_version_path(rails_version)
        %td= link_to 'Destroy', rails_version, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Rails version', new_rails_version_path
