%p#notice= notice

%p
  %b Name:
  = @rails_version.name
%p
  %b Slug:
  = @rails_version.slug
%p
  %b Is default:
  = @rails_version.is_default
%p
  %b Is active:
  = @rails_version.is_active

= link_to 'Edit', edit_rails_version_path(@rails_version)
\|
= link_to 'Back', rails_versions_path
