.flex.items-center.justify-between.mb-2
	%h3.mb-4.text-2xl.font-extrabold.leading-none.tracking-tight.text-gray-900.md:text-2xl.lg:text-2xl.dark:text-white Rails Versions
	%button.block.text-white.bg-blue-700.hover:bg-blue-800.focus:ring-4.focus:outline-none.focus:ring-blue-300.font-medium.rounded-lg.text-sm.px-5.text-center.dark:bg-blue-600.dark:hover:bg-blue-700.dark:focus:ring-blue-800{class: "py-2.5", "data-modal-target" => "version_new", "data-modal-toggle" => "version_new", type: "button"}
		New Version
#version_new.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.md:inset-0.h-modal.md:h-full{"aria-hidden" => "true", tabindex: "-1"}
	.relative.w-full.h-full.max-w-2xl.md:h-auto
		.relative.bg-white.rounded-lg.shadow.dark:bg-gray-700
			= render "admin/rails_versions/form", rails_version: @rails_version


.relative.overflow-x-auto.shadow-md.sm:rounded-lg
	= turbo_frame_tag "rails_versions" do
		%table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
			%thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
				%tr
					%th.px-6.py-3{scope: "col"}
						Version name
					%th.px-6.py-3{scope: "col"}
						Articles
					%th.px-6.py-3{scope: "col"}
						Categories
					%th.px-6.py-3{scope: "col"}
						Slug
					%th.px-6.py-3{scope: "col"}
						Active?
					%th.px-6.py-3{scope: "col"}
						
			%tbody
				- @rails_versions.each do |rv|
					%tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.hover:bg-gray-50.dark:hover:bg-gray-600
						%th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{scope: "row"}
							= rv.try(:name)
						%th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{scope: "row"}
							= rv.articles.count
						%th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{scope: "row"}
							= rv.categories.count
						%td.px-6.py-4
							= rv.try(:slug)
						%td.px-6.py-4
							= rv.try(:is_active) ? "Yes" : "No"
						%td.px-6.py-4
							.flex.items-center.gap-4
								.font-medium.text-blue-600.dark:text-blue-500.cursor-pointer{"data-modal-target" => "version_#{rv.try(:id)}", "data-modal-toggle" => "version_#{rv.try(:id)}", type: "button"} Edit
								.font-medium.text-red-600.dark:text-red-500.cursor-pointer{"data-modal-target" => "delete_version_#{rv.try(:id)}", "data-modal-toggle" => "delete_version_#{rv.try(:id)}", type: "button"} Destroy
							.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.md:inset-0.h-modal.md:h-full{id: "version_#{rv.try(:id)}", "aria-hidden" => "true", tabindex: "-1"}
								.relative.w-full.h-full.max-w-2xl.md:h-auto
									.relative.bg-white.rounded-lg.shadow.dark:bg-gray-700
										= render "admin/rails_versions/form", rails_version: rv
							.fixed.top-0.left-0.right-0.z-50.hidden.p-4.overflow-x-hidden.overflow-y-auto.md:inset-0.h-modal.md:h-full{id: "delete_version_#{rv.try(:id)}", "aria-hidden" => "true", tabindex: "-1"}
								.relative.w-full.h-full.max-w-md.md:h-auto
									.relative.bg-white.rounded-lg.shadow.dark:bg-gray-700
										= render "admin/shared/destroy_modal", model: rv, url: Rails.application.routes.url_helpers.admin_rails_version_path(rv), id: "delete_version_#{rv.try(:id)}", confirm_text: "Are you sure you want to delete this rails version?"
		
		
		.flex.justify-center
			= will_paginate @rails_versions, :class => "will_pag py-2"  