= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :rails_version
    = f.text_field :rails_version
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
